<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Add User Story | Super Sprinter 3000</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Add User Story</h1>
    <a href="/">Back</a>
    <form method="post">
        <label for="title">Story Title:</label><br />
        <input type="text" id="title" name="title" required><br />
        <label for="story">User Story:</label><br />
        <textarea id="story" name="story" rows="4" cols="40" required></textarea><br>
        <label for="criteria">Acceptance Criteria:</label><br />
        <textarea id="criteria" name="criteria" rows="6" cols="40" required></textarea><br>
        <label for="value">Business value:</label><br />
        <input type="text" id="value" name="value" required size="4"><br />
        <label for="estimations">Estimations:</label><br />
        <input type="text" id="estimations" name="estimations" required size="4"><br />
        <input type="submit" name="" value="Add new User Story">
    </form>
  </body>
</html>
