<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Super Sprinter 3000</title>
    <link rel='stylesheet' href='../public/stylesheets/style.css' />
  </head>
  <body>
    <h1>Super Sprinter 3000</h1>
    <a href="/story">Add new User Story</a>
    <table>
      <tr>
        <th>Id</th>
        <th>Story Title</th>
        <th>User Story</th>
        <th>Acceptance Criteria</th>
        <th>Business value</th>
        <th>Estimations</th>
        <th>Status</th>
      </tr>
      <tr>
        <td>Mockup</td>
        <td>Mockup</td>
        <td>Mockup</td>
        <td>Mockup</td>
        <td>Mockup</td>
        <td>Mockup</td>
        <td>Mockup</td>
      </tr>
      <!-- data here -->
    </table>
  </body>
</html>
