body {
  padding: 15px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

h1{
  margin-bottom: 8vh;
}

table{
  margin-top: 5vh;
  max-width: 1024px;
  width: 100%;
}

table th{
  padding: 8px;
}

table tr:nth-child(even) {
    background-color: #eee;
}

form{
  margin-top: 5vh;
}

form label{
  font-size: 1.2em;
}
 form input, textarea{
   margin: 1vh 0;
 }

 form input[type="submit"]{
   background-color: #fff;
   border-radius: 6px;
 }

 form input[type="submit"]:hover{
   background-color: rgb(39, 116, 32);
   color: #fff;
   cursor: pointer;
 }
